<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <!-- Required on Android 11+ to discover the on-device speech recognition service -->
  <queries>
    <intent>
      <action android:name="android.speech.RecognitionService" />
    </intent>
  </queries>

</manifest>
